<%= form_with(model: hilbert_pm, local: true) do |form| %>
  <% if hilbert_pm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hilbert_pm.errors.count, "error") %> prohibited this hilbert_pm from being saved:</h2>

      <ul>
      <% hilbert_pm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
